!!!
%html
  %head
    %meta{charset: "utf-8"}/
    %meta{content: "IE=edge;chrome=1", "http-equiv" => "X-UA-Compatible"}/
    %title
      Blog Title#{' - ' + current_article.title unless current_article.nil?}
    = feed_tag :atom, "#{blog.options.prefix.to_s}/feed.xml", title: "Atom Feed"
    = google_font 'Lusitana', 400, 700
    = google_font 'Merriweather', 400,300, '300italic','400italic',700,'700italic','900','900italic'
    = google_font 'Merriweather+Sans', 400,300, '300italic','400italic',700,'700italic','800','800italic'
    %script{type: 'text/javascript', src: 'https://raw.githubusercontent.com/WickyNilliams/headroom.js/v0.6.0/dist/headroom.min.js'}


    = stylesheet_link_tag :all
    = stylesheet_link_tag '//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css'
  %body
    %header.header{role: 'banner'}
      .header-inner
        %a.brand{href: '#'} Ryan Faerman
        %ul.nav
          %li.nav-item
            %a{href: '#'} notebook
          %li.nav-item
            %a{href: '#'} projects
        %ul.nav.external.pull-right
          %li.nav-item
            %a{href: '#'}
              %i.fa.fa-github-alt
            %a{href: '#'}
              %i.fa.fa-linkedin

    = yield

= javascript_include_tag 'ready.min'
= javascript_include_tag :main