---
alias: notebook/, projects/
---

.hero
  .hero-inner
    .hero-copy
      %h1 I'm Ryan Faerman
      %p I code, compete, create, build, tinker, fix, play - anything that I find interesting.
      %p I learn new things everyday as I strive to become a better person.

#main{role: "main"}
  %section#posts
    -blog.articles[0..10].group_by {|a| a.date.to_date}.each do |date, articles|
      - articles.each_with_index do |article, index|
        %article.summary
          %h1= link_to article.title, article
          = article.summary
          %hr
          - if index == 0
            %aside.meta-data
              %p.date= article.date.strftime('%b %d, %Y')
  %section#continued-posts
    %h3 Older Posts
    %ul.articles
      = list_of blog.articles[11..blog.articles.count].each do |article|
        = link_to article.title, article